ObserberPatern/.vs/*
ObserberPatern/ObserberPatern/bin/*
ObserberPatern/ObserberPatern/obj/Debug/ObserberPatern.csproj.CoreCompileInputs.cache
ObserberPatern/ObserberPatern/obj/Debug/ObserberPatern.exe
ObserberPatern/ObserberPatern/obj/Debug/ObserberPatern.pdb
/ObserberPatern/ObserberPatern/bin
/ObserberPatern/ObserberPatern/obj
