ObserberPatern/.vs/ObserberPatern/FileContentIndex/15b0cb10-6dfd-4e24-9c63-634c9f61fc1c.vsidx
ObserberPatern/.vs/ObserberPatern/FileContentIndex/343f412f-d7c0-4e54-ac7a-b577257a4832.vsidx
ObserberPatern/.vs/ObserberPatern/FileContentIndex/8a129c68-60a0-45a3-9f1f-60a70efb71c2.vsidx
ObserberPatern/.vs/ObserberPatern/FileContentIndex/b4f6b597-afce-47f0-bb55-ce067731a4be.vsidx
ObserberPatern/.vs/ObserberPatern/FileContentIndex/de763aff-d1e2-4b4c-b078-2e274abbdf99.vsidx
